@charset "utf-8";
/* ------------共通部分------------ */
body{
  font-family: Calibri , 'Seravek','Microsoft Sans Serif',Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color:rgb(43,43,43);
  width:1430px;
  margin:0 auto;
}

a{
  cursor:pointer;
  color:rgb(43,43,43);
}

a:hover{
  text-decoration: none;
}

button{
  cursor:pointer;
}

div{
  /* border: 1px solid red; */
}

/*--- headerセクション ---*/
.navbar{
  display: flex;
  height:68px;
  border-bottom:1px solid rgb(151,151,151);
}

nav div{
  width: 33.3%;
  text-align:center;
}

.searchButton{
  border:none;
}

.searchSection input{
  border:none;
  border-bottom:1px solid rgb(43,43,43);
  width:190px;
  height:40px;
  font-size:24px;
}

.searchSection input:focus{
  outline:none;
}

.loginSection{
  font-size:22px;
}

.userLogo {
  margin-right:8px;
}

.verticalBar{
  margin:0 4px;
  color:rgb(100,100,100);
}

.cartIcon{
  margin-left:32px;
}

/*--- /headerセクション ---*/

/*--- footerセクション ---*/

footer{
  /* height: 150px; */
  background: rgb(43,43,43);
  color: white;
  display:flex;
}

.footerLeft{
  border-right:1px solid white;
}

.footerLeft{
  display:flex;
  justify-content: space-between;
  width:50%;
}
.footerRight{
  display:flex;
  width:50%;
}

.footerLeft_left{
  margin:16px 0 16px 48px;
}

.footerLeft_left img{
  margin-bottom:16px;
}

.footerLeft_left p{
  font-size:16px;
  margin:0 0 0 64px;
  letter-spacing: 0.5px;
}

.footerLeft_right{
  margin:auto 16px 16px 0;
}

.footerLeft_right p:nth-of-type(1){
  margin-bottom:8px;
}

.footerLeft_right p{
  font-size:18px;
  letter-spacing: 1px;
  margin-bottom:0;
}

.footerLeft_right span{
  font-size:40px;
  margin-left:8px;
}

.footerRight_left,.footerRight_center{
  margin:16px 0 0 64px;
}

.footerRight_left h3,.footerRight_center h3{
  font-size:24px;
  letter-spacing: 1px;
}

.footerRight_left p,.footerRight_center p{
  margin:0 0 8px 48px;
  letter-spacing: 1px;
}

.languages p:nth-of-type(2),.languages p:nth-of-type(3){
  font-size:14px;
}

.footerRight_right{
  margin:auto 0 0 auto;
  padding:0 32px 16px 0;
}

.footerRight_right p {
  font-size:18px;
  letter-spacing: 1px;
  margin-bottom:8px;
}

.footerRight_right span{
  font-size:36px;
  margin-left:5px;
}

/*--- /footerセクション ---*/
/* -------------/共通部分---------------- */



/* -----------ECトップページ-------------- */
/*---mainセクション ---*/

.mainWrapper{
  display: flex;
  height:400px;
}

.leftSidebar{
  width: 20%;
}

.leftSidebar div{
  margin-top:-16px;
  width:170px;
  border-top:1px solid rgb(43,43,43);
}

.leftSidebar ul{
  list-style: none;
  font-size:26px;
  height:150px;
  margin:32px 0 0 32px;
}

.mainArea{
  width: 1032px;
  margin:0 auto;
}

.mainVisual{
  text-align: center;
  margin-top:40px;
  display:flex;
}

.subVisual{
  display:flex;
  flex-direction: column;
}

.subVisual img{
  height:115.5px;
}


.rightSidebar{
  width: 20%;
}

.right-top{
  height: 50%;
  text-align: center;
  padding-top:16px
}

.right-top a{
  font-size:40px;
  margin: 0 5px;
}

.right-under{
  height: 50%;
  margin-left:32px;
}

.right-under div{
  border-top:1px solid rgb(43,43,43);
}

.right-under ul{
  list-style: none;
  font-size:26px;
  margin-left:auto;
  padding-left:58px;
}

/*---/mainセクション ---*/


/* ----New Arrivalセクション--- */

.newArrival-wrapper{
  width:1340px;
  margin:32px auto;
}


.new-arrival{
  display: flex;
  flex-wrap: wrap;
}

.new-arrival a{
  display:block;
}

.newArrival-title{
  border-bottom:1px solid rgb(43,43,43);
  margin-bottom:16px;
}

.newArrival-title h1{
  font-size:34px;
  margin:0;
  padding-left:32px;
}

.new-arrival-item{
  width: 16.66%;
}

.new-arrival-item a:hover{
  background-color:rgb(43,43,43);
  color:white;
}



.itemImage{
  padding-top:16px;
}

.itemWord{
  width:80%;
  margin:8px auto 0;
  padding-bottom:4px;
}

.itemTitle{
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.6px;
  margin:0;
  letter-spacing: 1px;
}

.itemAuther{
  font-size:16px;
  color:rgb(135, 135, 135);
  letter-spacing:0.6px;
  margin:0;
  letter-spacing: 1px;
}

.itemPrice{
  text-align:right;
  font-size:18px;
}

/* ----/New Arrivalセクション--- */

/* ---Categoryセクション--- */

.category-wrapper{
  width:1340px;
  margin:0 auto;
}

.categoryTitle{
  border-bottom:1px solid rgb(43,43,43);
  margin-bottom:16px;
}

.categoryTitle h1{
  font-size:34px;
  margin:0;
  padding-left:32px;
}

.categoryItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryItem{
  text-align: center;
  margin:8px;
}

.categoryItem a{
  display:block;
  width:300px;
  height:200px;
  border:5px solid rgb(43,43,43);
}

.categoryItem a:hover{
  color:white;
}

.tokyo:hover{
  background-image:url(../shop_img/tokyo.png);
}

.kyoto:hover{
  background-image:url(../shop_img/kyoto.png);
}

.gokudo:hover{
  background-image:url(../shop_img/gokudo.png);
}

.temple:hover{
  background-image:url(../shop_img/temple.png);
}

.art:hover{
  background-image:url(../shop_img/art.png);
}

.fashion:hover{
  background-image:url(../shop_img/fashion.png);
}

.music:hover{
  background-image:url(../shop_img/music.png);
}

.other:hover{
  background-image:url(../shop_img/other.png);
}

.categoryItem p{
  font-size:40px;
  letter-spacing: 3px;
  line-height: 190px;
}

/* ---/Categoryセクション--- */


/* ---Artistセクション--- */

.artist-wrapper{
  width:1340px;
  margin: 32px auto 0;
}

.artistTitle{
  border-bottom:1px solid rgb(43,43,43);
  margin-bottom:16px;
}

.artistTitle h1{
  font-size:34px;
  margin:0;
  padding-left:32px;
}

.artistItems{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artistItem{
  margin:8px;
}


.artistItem a{
  display:block;
  width:500px;
  height:250px;
  border:10px solid rgb(43,43,43);
}

.artistItem a:hover{
color:white;
}

.artist_1:hover{
  background-image:url(../shop_img/artist_1.png);
}

.artist_2:hover{
  background-image:url(../shop_img/artist_2.png);
}

.artist_3:hover{
  background-image:url(../shop_img/artist_3.png);
}

.artist_4:hover{
  background-image:url(../shop_img/artist_4.png);
}

.artistItems p{
  font-size:40px;
  font-weight:bold;
  text-align:center;
  line-height: 240px;
  letter-spacing: 2px;
}

/* ---infomationセクション--- */

.infomation-wrapper{
  width:1340px;
  margin: 64px auto;
}

.infomationTitle{
  border-bottom:1px solid rgb(43,43,43);
  margin-bottom:32px;
}

.infomationTitle h1{
  font-size:34px;
  margin:0;
  padding-left:32px;
}

.infomationContainer{
  display:flex;
  justify-content: center;
}

.infomationContainer h3{
  margin:16px 0;
}

.infomationLeft,.infomationRight{
  width:600px;
}

.shippingTitle p,.paymentTitle p{
  display:inline;
  font-size:34px;
  border-bottom:1px solid rgb(43,43,43);
}

.shippingInner , .paymentInner{
  display:flex;
}

.shippingInner p:nth-of-type(1),.paymentInner:first-child{
  width:60%;
  font-size:18px;
}

.shippingInner p:nth-of-type(2){
  width:40%;
  font-size:140px;
  margin-left:16px;
}

.paymentIcons{
  display:flex;
  flex-direction: column;
  margin-left:16px;
}

.paymentIcons_top,.paymentIcons_bottom{
  width:40%;
  display:flex;
}

.paymentIcons_top p,.paymentIcons_bottom p{
  font-size:52px;
  margin:5px;
}

/* ---/infomationセクション--- */

/* -----------/ECトップページ----------------- */




/* ------------アイテム詳細ページ ----------------*/
.pro-item-wrap{
  display: flex;
}

.categoryRoute{
  margin-left:-32px;
  color:rgb(100,100,100);
}

.categoryRoute a{
  color:rgb(100,100,100);
}

.categoryRoute a:hover{
  color:rgb(43,43,43);
}

.pro-item-area_left{
  width: 15%;
  /* position:absolute; */
}

.pro-item-area_left div{
  width:180px;
  border-bottom:1px solid rgb(43,43,43);
  padding:40px 0 0 64px;
  margin-bottom:16px;
}

.pro-item-area_left p{
  display:inline;
  font-size:26px;
}

.pro-item-area_left a{
    display:block;
    font-size:18px;
    border-left:1px solid rgb(43,43,43);
    margin-left:40px;
    padding-left:8px;
    width:80px;
}

.pro-item-area_left a:hover{
  background:rgb(43,43,43);
  color:white;
}

.pro-item-area_center{
  width: 60%;
}

.item_center_inner{
  display:flex;
  justify-content: center;
  margin-top:80px;
}

.item_center_inner p{
  margin-bottom:3px;
  font-size:18px;
  letter-spacing: 0.5px;
}

.item_center_inner img{
  margin:0px;
  padding-left:48px;
}

.item_center_inner h2{
  margin-left:-32px;
}

.item_center_inner select{
  margin-top:14px;
  height:51px;
  width:48px;
  font-size:20px;
  background-color:white;
  border:2px solid rgb(43,43,43);
	border-radius: 0px;
	padding: 8px 16px;
  color: rgb(43,43,43);
  cursor:pointer;
  outline: none;
}

.item_center_inner button{
  font-size:20px;
  background-color:white;
  border:2px solid rgb(43,43,43);
  border-radius: 4px;
  padding:8px 16px;
  color: rgb(43,43,43);
  margin-left:16px;
}

.item_center_inner button:hover{
  color:white;
  background-color:rgb(43,43,43);
}

.item_center_inner span{
  margin-right: 8px;
}

.item_icons{
  margin-top:16px;
  font-size:20px;
} 

.item_icons i{
  font-size:40px;
  margin-left:8px;
}

.item_price{
  text-align: right;
}

.review-area{
  width:70%;
  margin:24px auto 0;
}

.review-area h4{
  font-size:20px;
  display:inline-block;
  border-bottom:1px solid rgb(43,43,43);
}

.review_user{
  display:flex;
}

.review_user img{
  border-radius: 1500px;
}

.review_user h3{
  line-height: 60px;
  margin: 0 24px;
  font-size:28px;
}

.review_user p{
  margin:auto 0 0 0;
}

.review_comment{
  margin:8px 0;
  font-size:20px;
}

.review-area button{
  display:block;
  border:2px solid rgb(43,43,43);
  width:300px;
  height:40px;
  border-radius:4px;
  margin:0 auto;
  font-size:24px;
  outline:none;
}

.review-area button:hover{
  color:white;
  background-color:rgb(43,43,43);
}

.write_review{
  margin-top:16px;
  display:none;
}

.write_review p{
  margin-bottom:3px;
}

.write_review textarea{
  font-size:24px;
  letter-spacing: 1.5px;
  resize: none;
  border:1px solid rgb(43,43,43);
  outline:none;
}

.review_bottom{
  display:flex;
  justify-content: space-between;
  width:652px;
}

.review_bottom span{
  font-size:18px;
  margin-right:8px;
}

.review_bottom button{
  width:150px;
  font-size:24px;
  margin:0 0 0 auto;
}

.review_bottom select{
  font-size:20px;
  background-color:white;
  border:2px solid rgb(43,43,43);
	border-radius: 0px;
  color: rgb(43,43,43);
  cursor:pointer;
  outline: none;
}

.pro-item-area_right{
  width: 25%;
  margin-top:64px;
}

.pro-item-area_right h4:nth-of-type(2){
  text-align: right;
  padding-right:32px;
  border-bottom:1px solid rgb(43,43,43);
}


.other-works-item{
  width:300px;
  overflow:hidden;
}

.other-works-item a{
  display: flex;
}

.other-works-item a:hover{
  background-color:rgb(43,43,43);
  color:white;
}

.ow-img{
  margin:auto 0 auto 12px;
}
.ow-info{
  width: 66.66%
}

.ow-info p{
  margin:0 0 0 16px;
}

.ow-info p:nth-of-type(1){
  font-size:20px;
}

.ow-info p:nth-of-type(3){
  text-align:right;
  margin-right:48px;
}


.ow-genre-wrapper{
  width:1300px;
  margin:80px auto 16px;
}

.ow-genre-title{
  border-bottom:1px solid rgb(43,43,43);
}

.ow-genre-title h3{
  font-size: 32px;
  margin-left:16px;
}

.ow-genre-items{
  display: flex;
}

.genre-item{
  width: 16.66%;
  margin:16px auto;
}

.genre-item img{
  padding-top:16px;
}

.genre-item:hover{
  background-color:rgb(43,43,43);
}

.genre-item a:hover{
  color:white;
}

.genre-item p{
    margin:3px 0 0 16px;
}

.genre-item p:nth-of-type(1){
    font-size:20px;
}

.genre-item p:nth-of-type(3){
    width:80%;
    text-align:right;
}

.view-more{
  display: block;
  margin: 0 auto;
}


/* ------------アイテム詳細ページ ----------------*/


/* -------------検索結果ページ-------------- */


.result_main_section{
  width:1200px;
  margin-bottom:64px;
}

.result_page_wrapper{
  display:flex;
}

.result_main_title{
  text-align:center;
  margin:64px 0;
}

.result_main_title span{
  font-size:20px;
  margin-right:8px;
}
.question{
  display:inline;
  padding:0 8px;
  border-bottom:1px solid rgb(43,43,43);
}

.result-wrap{
  display: flex;
  flex-wrap: wrap;
}

.result-items {
  width: 185px;
  padding:16px 0;
  margin:16px 0;
}

.result-items:hover{
  background-color:rgb(43,43,43);
}
.result-items a:hover{
  color:white;
}

.result-item img{
  padding-bottom:8px;
}

.result-item p{
  margin:0 8px 0;
}

.result-item p:nth-of-type(1){
  font-size:20px;
}

.result-item p:nth-of-type(3){
  text-align:right;
}

.result-item p:nth-of-type(5){
  font-size:20px;
}


/* -------------/検索結果ページ-------------- */



/* shop_cart_look */
.total-wrap{
  display: flex;
}


/* /shop_cart_look */